<!DOCTYPE html>
<html lang="fr" >

<head>
	<meta charset="UTF-8">
	<title>{{ author_name }} - {{podcast_title}}</title>
	
	<!-- Meta Tag -->
	<meta name="description" content="{{ small_desc }}">
    <meta property="og:title" content="{{ podcast_title}}">
	<meta property="og:site_name" content="{{ podcast_title }}">
	<meta property="og:url" content="{{ self_link }}">
	<meta property="og:description" content="{{ small_desc }}">
	<meta property="og:type" content="blog">
	<meta property="og:image" content="{{ self_link }}/{{ image_link }}">
    <meta name="theme-color" content="#ECEFF1">

	<style type="text/css">
		@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');
		@import url("https://use.fontawesome.com/releases/v5.8.1/css/all.css");

		body {
			font-family: 'Roboto', sans-serif;
			background-color: #ECEFF1;
		}

		center > a:first-child {
            margin-bottom:2px;
            font-size: 12px;
            color: #566573;
        }

		header {
			border: solid 1px #ABB2B9;
			background-color: #F8F9F9;
			border-radius: 2px 2px 0px 0px;
			box-shadow: 2px 2px #ABB2B9;
		}

		section {
			border: solid 1px #ABB2B9;
			margin-top: 5px;
			background-color: #FDFEFE;
			box-shadow: 2px 2px #ABB2B9;
		}

		footer {
			border: solid 1px #ABB2B9;
			background-color: #F8F9F9;
			border-radius: 2px 2px 0px 0px;
			box-shadow: 2px 2px #ABB2B9;
			margin-top: 20px;
		}

		footer > p {
			margin: 5px;
		}

		#podlogo {
			width: 100px;
			border-radius: 5px;
		}
		
		/*Article de podcast*/
		.podcast {
		display: flex;
		padding: 10px;
		transition-property: max-height;
		border-bottom: solid 1px #ABB2B9;
		transition-duration: 0.5s;
		overflow: hidden;
		}

		.podcast:last-child {
			border-bottom: none;
		}

		.leftDiv {
			display: flex;
			flex-direction: column;
			max-width: 120px;
		}

		.leftDiv > p {
			margin: 0px;
		}

		.leftDiv > a, .leftDiv > u {
			color: black;
		}

		h2 > a, h2 > u {
			color: black;
		}

		.leftDiv > img {
			height: 100px;
			min-width: 100px;
			border-radius: 5px;
		}

		.leftDiv > div > i {
			margin-top: 5px;
			font-size: 20px;
		}

		.leftDiv > div > i:hover {
			cursor: pointer;
		}

		.rightDiv {
			display: flex;
			flex-direction: column;
			margin: 0px;
			padding: 0px;
			text-align: left;
		}

		.rightDiv > h2 {
			margin-left: 5px;
			margin-top: 0px;
			margin-bottom: 2px;
		}

		.rightDiv > h3 {
			margin-left: 5px;
			margin-top: 0px;
			margin-bottom: 4px;
		}

		/* Mise en page de la description */
		.description {
			margin-left: 5px;
			margin-top: 0px;
			margin-bottom: 2px;
			padding-left: 5px;
			border-left: solid 3px #2C3E50;
			border-radius: 3px 0px 0px 3px;
		}

		.description > p {
			margin-top: 0px;
			margin-bottom: 2px;
		}

		.description > h2 {
			margin-top: 5px;
			margin-bottom: 2px;
		}

		.description > h3 {
			margin-top: 5px;
			margin-bottom: 2px;
		}

		.description a, .description u {
		text-decoration: none;
		color: #17202A;
		border-bottom: dotted 1px #17202A;
		word-wrap: break-word;
		}
	</style>
</head>

    <body>
        <center>
            <a href="../index.html">Retourner à la liste des épisodes</a>
            <header>
                <h1>{{ author_name }}</h1>
				<img id="podlogo" src="{{{ image_link }}}" alt="Image de {{ author_name }}">
				<div>{{{ author_description }}}</div>
				<a href="https://twitter.com/share?ref_src=twsrc%5Etfw" class="twitter-share-button" data-text="Ecoutez les épisodes de {{author_name}}" data-url="{{ author_link }}" data-hashtags="podcast" data-show-count="false">Tweet</a><script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
				<iframe src="https://www.facebook.com/plugins/share_button.php?href={{ author_link}}&layout=button&size=small&width=73&height=20&appId" width="73" height="20" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true" allow="encrypted-media"></iframe>
			</header>

			<section>
				{{#episodes}}
					<article class="podcast">
						<div class="leftDiv">
							<img src="../{{ ep_image }}" alt="{{ ep_title }}">
							<p>⏱{{duree_ep}}</p>
							<p>📅{{date_sortie}}</p>
							<a href="{{file_link}}" target="_blank">💾Télécharger</a>
							<p>🙋{{{ep_author}}}</p>
						</div>
						<div class="rightDiv">
							<h2><a href="../ep/{{ ep_guid }}.html">{{ ep_title }}</a></h2>
							<div class="description">
								{{{ ep_desc }}}
							</div>
						</div>
					</article>
				{{/episodes}}
			</section>

			<footer>
				<p>{{ podcast_title}} par {{ podcast_author }}</p>
				<p>© {{ podcast_copyright }}</p>
			</footer>
        </center>
    </body>
</html>