@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');
@import url("https://use.fontawesome.com/releases/v5.8.1/css/all.css");

body {
    font-family: 'Roboto', sans-serif;
    background-color: #ECEFF1;
}

header {
    border: solid 1px #ABB2B9;
    background-color: #F8F9F9;
    border-radius: 2px 2px 0px 0px;
    box-shadow: 2px 2px #ABB2B9;
}

header > p > a, header > p > u {
    color: black;
}

center > a:first-child {
    margin-bottom:2px;
    font-size: 12px;
    color: #566573;
}

section {
	border: solid 1px #ABB2B9;
	margin-top: 5px;
    background-color: #FDFEFE;
    box-shadow: 2px 2px #ABB2B9;
    padding: 10px;
}

footer {
    border: solid 1px #ABB2B9;
    background-color: #F8F9F9;
    border-radius: 2px 2px 0px 0px;
    box-shadow: 2px 2px #ABB2B9;
    margin-top: 20px;
}

footer > p {
    margin: 5px;
}

#podlogo {
	width: 100px;
	border-radius: 5px;
}
 
/*Article de podcast*/
.podcast {
 display: flex;
 padding: 10px;
 transition-property: max-height;
 border-bottom: solid 1px #ABB2B9;
 transition-duration: 0.5s;
 overflow: hidden;
}

.podcast:last-child {
    border-bottom: none;
}

.leftDiv {
    display: flex;
    flex-direction: column;
    max-width: 120px;
}

.leftDiv > img {
    height: 100px;
    min-width: 100px;
    border-radius: 5px;
}

.leftDiv > div > i {
    margin-top: 5px;
    font-size: 20px;
}

.leftDiv > div > i:hover {
    cursor: pointer;
}

.rightDiv {
    display: flex;
    flex-direction: column;
    margin: 0px;
    padding: 0px;
    text-align: left;
}

.rightDiv > h2 {
    margin-left: 5px;
    margin-top: 0px;
    margin-bottom: 2px;
}

.rightDiv > h3 {
    margin-left: 5px;
    margin-top: 0px;
    margin-bottom: 4px;
}

/* Mise en page de la description */
.description {
    margin-left: 5px;
    margin-top: 0px;
    margin-bottom: 10px;
    padding-left: 5px;
    text-align: left;
}

.description > p {
    margin-top: 0px;
    margin-bottom: 2px;
}

.description > h2 {
    margin-top: 5px;
    margin-bottom: 2px;
}

.description > h3 {
    margin-top: 5px;
    margin-bottom: 2px;
}

.description a, .description u {
  text-decoration: none;
  color: #17202A;
  border-bottom: dotted 1px #17202A;
  word-wrap: break-word;
}

/*Audio player*/
#progressbar {
    text-align: left;
    height: 10px;
    background-color: #BFC9CA;
    border-radius: 3px;
    margin-top: 3px;
}
  
#progressbar:hover {
    cursor: pointer;
}
  
#prog {
    background-color: #3498DB;
    height: 10px;
    border-radius: 3px;
}

.time {
    display: flex;
    justify-content: space-between;
}
     
.time > p {
    margin-top: 0px;
    color: #5D6D7E;
    margin-bottom: 0px;
}

.controls {
    display: flex;
    justify-content: center;
}
  
.controls > i {
    margin-top: -15px;
    margin-left: 10px;
    margin-right: 10px;
    font-size: 40px;
    color: var(--button-color);
}
  
.controls > i:hover {
    cursor: pointer;
}