<!DOCTYPE html>
<html lang="fr" >

<head>
	<meta charset="UTF-8">
	<title>{{ ep_title }}</title>
    <style type="text/css">
        @import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');
        @import url("https://use.fontawesome.com/releases/v5.8.1/css/all.css");

        body {
            font-family: 'Roboto', sans-serif;
            background-color: #ECEFF1;
        }

        header {
            border: solid 1px #ABB2B9;
            background-color: #F8F9F9;
            border-radius: 2px 2px 0px 0px;
            box-shadow: 2px 2px #ABB2B9;
        }

        header > p > a, header > p > u {
            color: black;
        }

        center > a:first-child {
            margin-bottom:2px;
            font-size: 12px;
            color: #566573;
        }

        section {
            border: solid 1px #ABB2B9;
            margin-top: 5px;
            background-color: #FDFEFE;
            box-shadow: 2px 2px #ABB2B9;
            padding: 10px;
        }

        footer {
            border: solid 1px #ABB2B9;
            background-color: #F8F9F9;
            border-radius: 2px 2px 0px 0px;
            box-shadow: 2px 2px #ABB2B9;
            margin-top: 20px;
        }

        footer > p {
            margin: 5px;
        }

        #podlogo {
            width: 100px;
            border-radius: 5px;
        }
        
        /*Article de podcast*/
        .podcast {
        display: flex;
        padding: 10px;
        transition-property: max-height;
        border-bottom: solid 1px #ABB2B9;
        transition-duration: 0.5s;
        overflow: hidden;
        }

        .podcast:last-child {
            border-bottom: none;
        }

        .leftDiv {
            display: flex;
            flex-direction: column;
            max-width: 120px;
        }

        .leftDiv > img {
            height: 100px;
            min-width: 100px;
            border-radius: 5px;
        }

        .leftDiv > div > i {
            margin-top: 5px;
            font-size: 20px;
        }

        .leftDiv > div > i:hover {
            cursor: pointer;
        }

        .rightDiv {
            display: flex;
            flex-direction: column;
            margin: 0px;
            padding: 0px;
            text-align: left;
        }

        .rightDiv > h2 {
            margin-left: 5px;
            margin-top: 0px;
            margin-bottom: 2px;
        }

        .rightDiv > h3 {
            margin-left: 5px;
            margin-top: 0px;
            margin-bottom: 4px;
        }

        /* Mise en page de la description */
        .description {
            margin-left: 5px;
            margin-top: 0px;
            margin-bottom: 10px;
            padding-left: 5px;
            text-align: left;
        }

        .description > p {
            margin-top: 0px;
            margin-bottom: 2px;
        }

        .description > h2 {
            margin-top: 5px;
            margin-bottom: 2px;
        }

        .description > h3 {
            margin-top: 5px;
            margin-bottom: 2px;
        }

        .description a, .description u {
        text-decoration: none;
        color: #17202A;
        border-bottom: dotted 1px #17202A;
        word-wrap: break-word;
        }

        /*Audio player*/
        #progressbar {
            text-align: left;
            height: 10px;
            background-color: #BFC9CA;
            border-radius: 3px;
            margin-top: 3px;
        }
        
        #progressbar:hover {
            cursor: pointer;
        }
        
        #prog {
            background-color: #3498DB;
            height: 10px;
            border-radius: 3px;
        }

        .time {
            display: flex;
            justify-content: space-between;
        }
            
        .time > p {
            margin-top: 0px;
            color: #5D6D7E;
            margin-bottom: 0px;
        }

        .controls {
            display: flex;
            justify-content: center;
        }
        
        .controls > i {
            margin-top: -15px;
            margin-left: 10px;
            margin-right: 10px;
            font-size: 40px;
            color: var(--button-color);
        }
        
        .controls > i:hover {
            cursor: pointer;
        }
    </style>
</head>

    <body>
        <center>
            <a href="../index.html">Retourner à la liste des épisodes</a>
            <header>
                <h1>{{ ep_title }}</h1>
				<img id="podlogo" src="{{{ ep_image }}}" alt="Logo de {{ ep_title }}">
                <p>⏱{{duree_ep}} | 📅{{date_sortie}} | <a href="{{file_link}}" target="_blank">💾Télécharger</a></p>
                </div>
            </header>

			<section>
				<audio id="audiosound" src="{{ file_link }}" hidden></audio>
				<div id="progressbar">
                    <div id="prog"></div>
                </div>
                <div class="time">
                    <p id="audio-time">00:00:00</p>
                    <p id="audio-duration">00:00:00</p>
                </div>
                <div class="controls">
                    <i class="timeJump fas fa-backward" sens="-"></i>
                    <i id="play" class="fas fa-play-circle"></i>
                    <i class="timeJump fas fa-forward" sens="+"></i>
                </div>
			</section>

			<section>
				<div class="description">
					{{{ ep_desc }}}
				</div>
			</section>

			<footer>
				<p>{{ podcast_title}} par {{ podcast_author }}</p>
				<p>© {{ podcast_copyright }}</p>
			</footer>
        </center>
		<script>
            playbutton = document.getElementById("play");
            playbutton.addEventListener('click', playAudio);

            bar = document.getElementById("progressbar")
            bar.addEventListener("click", changeTime);

            player = document.getElementById("audiosound");

            duration = document.getElementById("audio-duration");
            durationObj = convertHMS(player.duration)
            duration.innerHTML = durationObj.heure + ":" + durationObj.minute + ":" + durationObj.seconde;

            document.getElementsByClassName("timeJump")[0].addEventListener("click", jumpTime)
            document.getElementsByClassName("timeJump")[1].addEventListener("click", jumpTime)

            setInterval(updateTime, 1000);

            function playAudio() {
                if (playbutton.classList.contains("fa-play-circle")) {
                player.play()
                playbutton.className = "fas fa-pause-circle"
                } else {
                player.pause()
                playbutton.className = "fas fa-play-circle"
                }
            
                playbutton.addEventListener('click', playAudio);
            }

            function updateTime() {
                timeText = document.getElementById("audio-time");
                currentTime = convertHMS(player.currentTime)
                timeText.innerHTML = currentTime.heure + ":" + currentTime.minute + ":" + currentTime.seconde;
            
            
                duration = document.getElementById("audio-duration");
                durationObj = convertHMS(player.duration)
                duration.innerHTML = durationObj.heure + ":" + durationObj.minute + ":" + durationObj.seconde;
            
                progress=document.getElementById("prog");
            
                progress.style = "width:" + Math.trunc((player.currentTime/player.duration)*100) + "%;"
            }

            function changeTime(event) {
                var percent = event.offsetX / this.offsetWidth;
                player.currentTime = percent * player.duration;
            }

            function convertHMS(pSec) {
                nbSec = pSec;
                sortie = {};
                sortie.heure = Math.trunc(nbSec/3600);
                if (sortie.heure < 10) {sortie.heure = "0"+sortie.heure}
            
                nbSec = nbSec%3600;
                sortie.minute = Math.trunc(nbSec/60);
                if (sortie.minute < 10) {sortie.minute = "0"+sortie.minute}
            
                nbSec = nbSec%60;
                sortie.seconde = Math.trunc(nbSec);
                if (sortie.seconde < 10) {sortie.seconde = "0"+sortie.seconde}
            
                return sortie
            }

            function jumpTime(event) {
                player = document.getElementById("audiosound");
                if (event.target.attributes["sens"].value == "+") {
                player.currentTime = player.currentTime + 10
                } else {
                player.currentTime = player.currentTime - 10
                }
            }
            
            function addZero(val) {
                if (Math.trunc(val) != val) {
                return "" + val;
                } else {
                return "" + val + ".0"
                }
            }
        </script>
    </body>
</html>