<!DOCTYPE html>
<html lang="fr" >

<head>
	<meta charset="UTF-8">
	<title>{{ podcast_title }}</title>
    <link rel="stylesheet" href="./style.css">
</head>

    <body>
        <center>
            <header>
                <h1>{{ podcast_title }}</h1>
				<a id="feedlink" href="./feed.xml"><i class="fas fa-rss-square"></i> Accéder au flux</a><br/>
				<img id="podlogo" src="{{{ image_link }}}" alt="Logo de {{ podcast_title }}">
				<div>{{{ podcast_description }}}</div>
            </header>

			<section>
				{{#episodes}}
					<article class="podcast">
						<div class="leftDiv">
							<img src="{{ ep_image }}" alt="{{ ep_title }}">
							<p>⏱{{duree_ep}}</p>
							<p>📅{{date_sortie}}</p>
							<a href="{{file_link}}" target="_blank">💾Télécharger</a>
						</div>
						<div class="rightDiv">
							<h2><a href="./ep/{{ ep_guid }}.html">{{ ep_title }}</a></h2>
							<div class="description">
								{{{ ep_desc }}}
							</div>
						</div>
					</article>
				{{/episodes}}
			</section>

			<footer>
				<p>{{ podcast_title}} par {{ podcast_author }}</p>
				<p>© {{ podcast_copyright }}</p>
			</footer>
        </center>
    </body>
</html>